body{
    background-color: #F2F3F4;
}

.card {
    margin: 0 auto;
    width: 750px;
    height: 324px;
    background: url('../img/award.png');
    background-size: 100%;
}
.card canvas {
    width: 750px;
    height: 324px;
}
